   <div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 w-100">
                    <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
                </div>
                <div class="col-md-8 w-100" >
                    <h6><strong>Phosphorous Fertilizer</strong></h6>
                    <p><strong>price: </strong> ksh 999</p>
                    <p><strong>vendor: </strong> Sibasi limited</p>
                    <p><strong>ratings: </strong> 0.9</p>
      
                </div>
                 <span>
                    <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
                 </span>
                  <span>
                    <button class="btn btn-sm btn-danger float-right">order</button>
                  </span>
            </div>
       
        </div> 
      </div>   
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 w-100">
                    <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
                </div>
                <div class="col-md-8 w-100" >
                    <h6><strong>Phosphorous Fertilizer</strong></h6>
                    <p><strong>price: </strong> ksh 999</p>
                    <p><strong>vendor: </strong> Sibasi limited</p>
                    <p><strong>ratings: </strong> 0.9</p>
      
                </div>
                <span>
                    <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
                 </span>
                  <span>
                    <button class="btn btn-sm btn-danger float-right">order</button>
                  </span>
            </div>
       
        </div> 
      </div>   
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 w-100">
                    <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
                </div>
                <div class="col-md-8 w-100" >
                    <h6><strong>Phosphorous Fertilizer</strong></h6>
                    <p><strong>price: </strong> ksh 999</p>
                    <p><strong>vendor: </strong> Sibasi limited</p>
                    <p><strong>ratings: </strong> 0.9</p>
      
                </div>
                <span>
                    <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
                 </span>
                  <span>
                    <button class="btn btn-sm btn-danger float-right">order</button>
                  </span>
            </div>
       
        </div> 
      </div>   
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 w-100">
                    <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
                </div>
                <div class="col-md-8 w-100" >
                    <h6><strong>Phosphorous Fertilizer</strong></h6>
                    <p><strong>price: </strong> ksh 999</p>
                    <p><strong>vendor: </strong> Sibasi limited</p>
                    <p><strong>ratings: </strong> 0.9</p>
      
                </div>
                <span>
                    <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
                 </span>
                  <span>
                    <button class="btn btn-sm btn-danger float-right">order</button>
                  </span>
            </div>
       
        </div> 
      </div>   
    </div>
       <div class="col-md-4 col-sm-6">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 w-100">
                    <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
                </div>
                <div class="col-md-8 w-100" >
                    <h6><strong>Phosphorous Fertilizer</strong></h6>
                    <p><strong>price: </strong> ksh 999</p>
                    <p><strong>vendor: </strong> Sibasi limited</p>
                    <p><strong>ratings: </strong> 0.9</p>
      
                </div>

                <span>
                    <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
                 </span>
                  <span>
                    <button class="btn btn-sm btn-danger float-right">order</button>
                  </span>
            </div>
       
        </div> 
      </div>   
    </div>
 <div class="col-md-4 col-sm-6">
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6 w-100">
                <img src="../../../../../assets/img/avatars/2.jpg" alt="" height="90px" width="80px">
            </div>
            <div class="col-md-8 col-sm-6 w-100" >
                <h6><strong>Phosphorous Fertilizer</strong></h6>
                <p><strong>price: </strong> ksh 999</p>
                <p><strong>vendor: </strong> Sibasi limited</p>
                <p><strong>ratings: </strong> 0.9</p>
  
            </div>
            <span>
                <p class="mt-0">Lorem ipsum dolor sit amet consectetur adipisicing eli</p>
             </span>
              <span>
                <button class="btn btn-sm  btn-danger float-right">order</button>
              </span>
        </div>
   
    </div> 
  </div>   
</div>
</div>
