
.card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 12px 23px 0px rgb(139 199 64 / 4%);
    height: calc(100% - 10px);
    width: 100%;
}

.card-header {
   
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    
    align-items: center;
}
.search{
    width: 100%; 
    height:auto; 
    border-radius:30px; 
    border: bold;
    
}