

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card shadow">
                <div class="card-body bg-primary shadow">
                    <h2><strong>Number of Animals</strong></h2>
                    <h4><strong>50</strong></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card shadow">
                <div class="card-body bg-danger shadow">
                    <h2><strong>Number Of Employees</strong></h2>
                    <h4><strong>37</strong></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card shadow">
                <div class="card-body  bg-secondary">
                    <h2><strong>Collected  Milk Today</strong></h2>
                    <h4><strong>37</strong></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card shadow">
                <div class="card-body  bg-warning">
                    <h2><strong>Total Milk Sold Today</strong></h2>
                    <h4><strong>37</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"></div>