.table-responsive {
  overflow-y: visible !important;
}
.dropdown-menu{
  background-color: rgb(38, 153, 9);
  color: rgb(241, 240, 221);
  min-width: 1%;
}
.dropdown-menu a:hover{
  background-color: rgb(31, 75, 22);
}
.buttonStyleDropdown{
  background-color: rgb(38, 153, 9);
  border-radius: 40%;
}

