
<div class="table-responsive w-100">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
        <ng-container  *ngFor="let field of sibasiFarmModuleForm">
          <th *ngIf="field.isShowOnTable || isShowData">{{field?.displayedTableName}}</th>
        </ng-container>
     <th>actions</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of sibasiFarmData ; let i=index">
      <td>{{i+1}}</td>
      <ng-container  *ngFor="let field of sibasiFarmModuleForm">
        <td  *ngIf="field.isShowOnTable || isShowData">
          <ng-container *ngIf="field?.key==='status'; else elseNot">
            <span class="badge badge-warning">
              {{data[field?.key]}}
              </span>
           </ng-container>
          <ng-template #elseNot>
              {{data[field?.key]}}
          </ng-template> 
        </td>
      </ng-container>
      <td>
          <div class="dropdown dropend ml-4">
            <button type="button" class="btn btn-sm shadow buttonStyleDropdown"id="buttonDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog text-white"> </i>
                  </button>
                   <ul class="dropdown-menu  shadow border" aria-labelledby="buttonDropDown">
                      <li *ngFor="let tableAction of sibasiTableActions">
                        <a class="dropdown-item" type="button" (click)="emitDataIndex(i, tableAction.action)">
                    <i [ngClass]="tableAction?.icon"></i> 
                   <strong> {{tableAction?.actionName}}</strong>
                </a>
            </li>
          </ul>
        </div>
      </td>
     </tr>
  </tbody>
  </table> 
</div>