
<div class="row">
    <div class="col-md-12 col-sm-8">
   <div class="card w-100">
       <div class="card-header">
           <div class="row d-flex justify-content-center w-100">
              <div class="col-md-8 col-sm-6 w-100">
               <div class="row">
                   <div class="col-md-12">

               <h5>List Of Farm Stalls</h5> 
                 </div>
                   
               </div>
              </div>
              <div class="col-md-4 col-sm-6w-100">
               <a [routerLink]="['/manage-animal/add-stall']" type="button" class="btn btn-success btn-sm float-right" [state]="{tracingId: 123}">
                   + new stall
                 </a>
             
              </div>
           </div>
       </div>
       <div class="card-body">
          <div class="row mb-4 ml-3">
              <div class="col-md-8">
               <div>
                   <input type="text" class="form-control search" [(ngModel)]="search"  
                   placeholder="Search..."> 
           </div>
              </div>
         
          </div>
           <div class="col-sm-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Stall Number</th>
                    <th scope="col">Number Of Animals</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stall of farmStalls; let i=index">
                        <td>{{1+i}}</td>
                        <td>{{stall?.stall_number}}</td>
                        <td>{{(stall?.stall_animals).length}}</td>
                        <td>
                         <span *ngIf="stall?.stall_status==='full'" class="badge badge-success">{{stall?.stall_status}}</span>
                         <span *ngIf="stall?.stall_status==='empty'" class="badge badge-danger">{{stall?.stall_status}}</span>
                         <span *ngIf="stall?.stall_status==='under repair'" class="badge badge-warning">{{stall?.stall_status}}</span>
                        </td>
            
                    </tr>
                </tbody>
                </table>  
             </div>
       </div>
   </div>
    </div>
</div>